* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg,
            #0f2027,
            #203a43,
            #2c5364);

    color: white;
}

.container {
    width: 90%;
    max-width: 400px;
}

.app-title {
    text-align: center;
    font-size: 3rem;
}

.subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: #dcdcdc;
}

.search-box {

    display: flex;
    gap: 10px;

    margin-bottom: 20px;
}

.search-box input {

    flex: 1;

    padding: 12px;

    border: none;
    border-radius: 12px;

    outline: none;

    font-size: 1rem;
}

.search-box button {

    padding: 12px 18px;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    background: #00bfff;

    color: white;

    font-weight: bold;

    transition: 0.3s;
}

.search-box button:hover {
    background: #009acd;
}

.weather-card {

    background: rgba(255, 255, 255, 0.1);

    border-radius: 20px;

    padding: 30px;

    text-align: center;

    backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.weather-icon {
    font-size: 4rem;
    margin: 15px 0;
}

#temperature {
    font-size: 3rem;
    margin-bottom: 10px;
}

#condition {
    font-size: 1.2rem;
    color: #e0e0e0;
}

.details {

    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}

.detail-box {

    width: 48%;

    background: rgba(255, 255, 255, 0.1);

    padding: 15px;

    border-radius: 15px;
}

.detail-box p {
    margin-bottom: 8px;
    color: #d3d3d3;
}

@media (max-width: 500px) {

    .app-title {
        font-size: 2.3rem;
    }

    #temperature {
        font-size: 2.5rem;
    }

}